{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="center-content"> <!-- Centrer tout le contenu -->
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <div class="text-center">
            <h1>Register</h1>
        </div>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            <div class="text-center">
                {{ form_row(registrationForm.email, {
                'attr': {'class': 'form-control text-center', 'style': 'width: 50vw; margin: 0 auto;'}
                 }) }}

                {{ form_row(registrationForm.plainPassword, {
                    'label': 'Password',
                    'attr': {'class': 'form-control text-center','style': 'width: 50vw; margin: 0 auto;'}
                }) }}
                {{ form_row(registrationForm.agreeTerms, {
                    'label_attr': {'class': 'text-center'}
                }) }}

                 <div style="padding: 10px 0;">
                    <button type="submit" class="btn-centered">Register</button>
                </div>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
