{% extends 'base.html.twig' %}

{% block title %}Saveurs Chinoises{% endblock %}
{% block body %}
<style>
    /* .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; } */
    div{
        text-align:center;
    }
</style>


<div>
            <div>
				<img class="bg" src={{ asset('img/background-chine_1200x600.jpg') }}>
			</div>
            
 <h1>Saveurs Chinoises</h1>

	{# Section Les Entrées #}
	<section class="d-flex flex-column align-items-center my-5">
		<h2>
			<span>M</span>enu</h2>
		<p>Bon Appétit et surtout régalez vous!
		</p>
		<h2>Les Entrées:</h2>
		<div class="trait"></div>
		<h2 class="mt-5">Entrées:</h2>




{# {{ dump(products) }} #}


		{# <div class="d-flex flex-wrap justify-content-center">
    {% for product in products %}
        <div class="card m-5" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p>{{ product.type }}</p>
                
                <p class="card-text p-2 mt-3">{{ publication.description }}</p>
            </div>
        </div>
    {% endfor %}
</div> #}




<div class="d-flex flex-wrap justify-content-center">
    {% for product in products %}
        <div class="card m-5" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p>{{ product.type }}</p>
				<img src="{{ asset('img/products') }}/{{ product.image }}" class="card-img" alt="{{ product.title }}">
            </div>
        </div>
    {% endfor %}
</div>







	</section>
{% endblock %}
