<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
			| Saveurs du Monde
		</title>
		<link rel="stylesheet" href="{{ asset('style.css') }}">
		<link
		rel="icon" href={{ asset('img/favicon.png') }}>
		{# le lien CDN bootstrap#}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
		{# le lien CDN Javascript #}
		<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
		{# le lien CDN FontAwesome #}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/> 
		
		{% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		</head>
		<body>
			<style>
				span {
					color: #fb911f;
					font-weigth: bold;
				}
				.footer {
					padding: 20px 40px;
					border-top: 2px solid rgba(0, 0, 0, 0.1);
					background: rgba(228, 222, 222);
					text-align: center;
					font-weight: 300;
					font-style: italic;
				}
			</style>
			<nav class="navbar navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid">
					<a href="{{ path('app_home') }}"><img src={{ asset('img/logo.png') }} width="100" alt="Logo Saveurs du Monde" class="me-5"></a>
					<a class=" navbar-brand me-auto ml-5 text-center text-primary" href="{{ path('app_home') }}">Saveurs du Monde</a>

					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<ul class="navbar-nav ms-auto">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_about') }}">A propos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Contact</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_subscription') }}">Abonnements</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_review_new') }}">Avis</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_publication_new') }}">Publications</a>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Menu
								</a>
								<ul class="dropdown-menu">
									<li>
										<a class="dropdown-item" href="{{ path('app_bresil') }}">Bresil</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{ path('app_cameroun') }}">Cameroun</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{ path('app_chine') }}">Chine</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{ path('app_ile_maurice') }}">Ile Maurice</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_panier') }}">
									<i class="fa-solid fa-cart-shopping"></i>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_login') }}">
									<i class="fa-solid fa-user"></i>
								</a>
							</li>
						</ul>
					</div>
				</nav>

				{% block body %}{% endblock %}
				<footer class="footer">
					<p>© copyright 2023
						<span>
							Li, Dalina, Leslie et Amanda</span>. Tous droits réservés.</p>
				</footer>
			</body>
		</body>
	</html>
