{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}

{# dump pour afficher la cart ajout
{{ dump(cart) }} #}

<h1>Mon panier</h1>
{# {% for item in cart %}
    <h3>{{item.product.title}}</h3>
{% endfor %} #}
<p>Ajouter d'autre articles disponibles sur le site <a href="{{path('app_bresil')}}">Menu Brésil</a>--<a href="{{path('app_cameroun')}}">Menu Camaurun</a>--<a href="{{path('app_ile_maurice')}}">Menu Ile maurice</a>--<a href="{{path('app_chine')}}">Menu chine</a> </p>
<main class="page-wrapper">
{% if cart|length > 0 %}
{% set total = null %}
{% for item in cart %}
{% set total = total + (item.product.price * item.quantity) %}
{% set itemTotal = item.product.price * item.quantity %}
<div class="w-25">
     <img src="{{ asset('img/products') }}/{{ item.product.image }}" class="card-img" alt="{{ item.product.title }}">
</div>     
    <h3>{{item.product.title}}</h3>
    <p>categorie: {{ item.product.category }} €</p>
    <p>prix: {{ item.product.price }} €</p>
    <p>quantity: {{ item.quantity }} </p>
    <div class="text-end ms-auto">
        <div class="fs-5 mb-1">{{ (itemTotal) |number_format(2,',','.') }} €</div>
    </div>

    {# counter incrémentaton et décrémentation#}
    <div class="count-input ms-ns">
        <a href="{{ path('cart_decrease',{id:item.product.id}) }}" class="btn btn-icon fs-xl" data-decrement>-</a>
        <input class="form-control" type="number" value="{{item.quantity}}" readonly
        >
        <a href="{{path('cart_add',{id:item.product.id})}}" class="btn btn-icon fs-xl" data-increment>+</a>
    </div>

{# suppimer tout les produits #}
<div class="nav justify-content-end mt-n5 mt-sm-n3">
    <a class="nav-link fs xl p-2" href="{{ path('cart_remove',{id:item.product.id}) }}" data-bs-toggle="tooltip" title="Remove">
    <i class="fa-solid fa-trash fa-2xl"></i>
    </a>
    </div>
    {# nombre de produit #}
<p>Nombre de produit: {{ cart|length }}</p>



{% endfor %}
{# total prix #}
<p class="fs-4 mb-2">Total: {{ (total )|number_format(2,',','.') }} €</p>
<a href="{{ path('app_payment', {'totalAmount': total}) }}" class="btn btn-primary">Valider mon panier</a>




{# sinon affiche panier vid #}
    {% else %}
<div class="container d-flex flex-colum justfy-content-center min-vh-100 py-5">
    <div class="text-center pt-4 mt-lg-2">
        <h1 class="display-5">Votre panier est vide</h1>
        <p class="fs-lg pb-2 pb-md-0 mb-4 mb-md-5">commencez votre shoppong dès maintenant à travers nos articles</p>
        <a href="{{path('app_bresil')}}">Menu Brésil</a>--<a href="{{path('app_cameroun')}}">Menu Camaurun</a>--<a href="{{path('app_ile_maurice')}}">Menu Ile maurice</a>--<a href="{{path('app_chine')}}">Menu chine</a> Voir les produits</a>
    </div>
</div>



{% endif %}

</main>
{% endblock %}
