{% extends 'base.html.twig' %}

{% block title %}
	Home
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: auto;
			width: 100%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		.trait {
			background-color: #fb911f;
			height: 2px;
			width: 50%;
			text-align: center;
		}
		.avis {
			background-image: url('/img/bg2.jpg');
		}
		.contact {
			background-image: url('/img/img-form.jpg');
		}
		.form {
			margin: 84px;
			width: 500px;
			background: #fff;
			box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8);

		}
		.inputboite {
			position: relative;
			width: 100%;
			margin-bottom: 20px;
		}
		textarea {
			width: 50%;
		}
		span {
			color: #fb911f;
			font-weigth: bold;
		}
		button {
			width: 8rem;
			color: #ffff;
			background: #fb911f;
			border: none;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	</style>
{# Section Diaporama #}

<img src="https://a.cdn-hotels.com/gdcs/production88/d804/e87b353a-6c67-48a9-800e-e43c8826a51b.jpg?impolicy=fcrop&w=1600&h=1066&q=medium" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
     <img src="https://uploads.lebonbon.fr/source/2021/september/42390/gastro_2_1200.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
     <img src="https://assets.afcdn.com/story/20230306/2212166_w1888h1060c1cx1057cy587cxt0cyt0cxb2121cyb1277.webp" class="d-block w-100" alt="...">





	{# Section A Propos #}
	<section class="text-center my-5">

		<h2>
			<span>A</span>
			Propos De Nous</h2>
		<div class="d-flex flex-nowrap p-2">
			<p class="align-self-center p-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</p>


			<div>
				<img src={{ asset('img/a_propos.jpg') }}>
				<figcaption>Tan Yuan</figcaption>
			</div>
		</div>
	</section>


	{# Section Les Favorits #}
	<section class="d-flex flex-column align-items-center my-5">
		<h2>
			<span>M</span>enu</h2>
		<p>Bon Appétit et surtout régalez vous!
		</p>
		<h2>Les Favorits</h2>
		<div class="trait"></div>
		<h2 class="mt-5">Entrées:</h2>

		<div>
			<div class="d-flex flex-wrap justify-content-center">
				{% for item in reviews %}
					{% set note = item.note %}
					<div class="card m-3 " style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">{{item.name }}</h5>

							<p class="card-text">{{item.message}}</p>
							<p>publie le :
								{{ item.DatePublication|date('Y-m-d')}}</p>
							<p>Avis client :
								<br>
								{% for star in 1..note %}
									⭐
								{% endfor %}
							</p>
						</div>
					</div>
				{% endfor %}
			</div>
			{# <div
																																							class="navigation d-flex flex-wrap justify-content-center m-5">{{knp_pagination_render(reviews)}}
																																						</div> #}
		</div>


	</section>


	{# Section Nos Experts #}
	<section class="text-center my-5">
		<h2>Nos
			<span>E</span>xperts</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
		</p>

		<div class="d-flex justify-content-center">
			<figure>
				<img src={{ asset('img/equipe1.jpg') }}>
				<figcaption>Kacha</figcaption>
			</figure>
			<figure>
				<img src={{ asset('img/equipe2.jpg') }}>
				<figcaption>Paola Carosella</figcaption>
			</figure>
			<figure>
				<img src={{ asset('img/equipe3.jpg') }}>
				<figcaption>Shelina Permalloo</figcaption>
			</figure>
			<figure>
				<img src={{ asset('img/equipe4.jpg') }}>
				<figcaption>Samuel Lee Sum</figcaption>
			</div>
		</figure>
	</section>


	{# Section Avis Client #}
	<section
		class="example-wrapper">
		{# reviews start #}
		<h2 class="text-center my-5">
			Que Disent Nos
			<span>C</span>lients</h2>
		<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		
		<div class="avis">
			<div class="d-flex flex-wrap justify-content-center">
				{% for item in reviews %}
					{% set note = item.note %}
					<div class="card m-3 " style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">{{item.name }}</h5>

							<p class="card-text">{{item.message}}</p>
							<p>publie le :
								{{ item.DatePublication|date('Y-m-d')}}</p>
							<p>Avis client :
								<br>
								{% for star in 1..note %}
									⭐
								{% endfor %}
							</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	{# Section Contact #}
	<section class="contact text-center ">
		<div>
			<h2 class="pt-4">
				<span>C</span>ontact</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
		</div>


		<div class="d-flex flex-wrap justify-content-center">
			<div class="form p-3">
				<h3>Envoyer un message</h3>
				<div class="inputboite">
					<input type="text" placeholder="Nom">
				</div>
				<div class="inputboite">
					<input type="text" placeholder="Email">
				</div>
				<div class="inputboite">
					<textarea placeholder="Message"></textarea>
				</div>
				<div class="inputboite">
					<button type="submit" value="Envoyer">Envoyer</div>
				</div>
			</div>
		</section>
	{% endblock %}
