{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/wangli/Desktop/SaveursDuMonde/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/wangli/Desktop/SaveursDuMonde/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
{# reviews start #}
        <div class="avis">
		<h2 class="text-center my-5">
			Que Disent Nos Clients</h2>
		{# <p class="d-flex justify-content-center my-5 ">
					<a class="btn btn-dark" href="{{ path('app_review_all') }}">Voir plus d'avis</a>
				</p> #}
		<div class="d-flex flex-wrap justify-content-center">
			{% for item in reviews %}
				{% set note = item.note %}
				<div class="card m-3 " style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">{{item.name }}</h5>
						<p>publie le :
							{{ item.DatePublication|date('Y-m-d')}}</p>
						<p class="card-text">{{item.message}}</p>
						<p>Avis cleint :
						<br>
							{% for star in 1..note %}
								⭐
							{% endfor %}
						</p>
					</div>
				</div>
			{% endfor %}
		</div>

		{# <div
			class="navigation d-flex flex-wrap justify-content-center m-5">{{knp_pagination_render(reviews)}}
		</div> #}

	</div>

</div>
{% endblock %}
